[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
"psycopg2" = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
pytest-mock = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-ordering = "*"

[requires]
python_version = "3.7"
